.btn.btn-brand {
  background-color: black !important;
}

.fonte {
  color:#272222;
  font-size:1.225em;
  line-height: 1.8;
  text-align:justify;
  text-indent: 1.8em;
  font-family: "PrattRegular",Georgia,"Times New Roman ",Times,serif;
}

.fonte-blockquote {
  color:#272222;
  font-size:1.0em;
  line-height: 1.4;
  text-indent: 1.8em;
  letter-spacing: 1px;
  box-shadow: 15px 0 0 0 #e9f7a8, -5px 0 0 0 #e9f7a8;
	background: #e9f7a8;
	text-align:justify;
	position: relative;
  font-family: "PrattRegular",Georgia,"Times New Roman ",Times,serif;
}

.fonte-legenda {
  color:#272222;
  font-size:0.8em;
  line-height: 1.4;
  letter-spacing: 1px;
  font-style: italic;
  text-align:justify;
  font-family: "PrattRegular",Georgia,"Times New Roman ",Times,serif;
}

.fonte:first-letter {
	font-size:150%;
}

blockquote {
  margin-top: 5px !important
}

blockquote:hover {
  border-left: 2px solid #CDE26E !important;
}

.special-heading {
  margin-bottom: 0 !important;
}

.special-heading h1,
.special-heading h2,
.special-heading h3,
.special-heading h4,
.special-heading h5,
.special-heading h6 {
    border-bottom: 2px solid #CDE26E !important;
}
