.btn.btn-brand {
  background-color: black !important;
}

.fonte {
  color:#272222;
  font-size:1.225em;
  line-height: 1.8;
  text-align:justify;
  text-indent: 1.8em;
  /*font-family: "PrattRegular",Georgia,"Times New Roman ",Times,serif;*/
}

.fonte-blockquote {
  color:#272222;
  font-size:1.0em;
  line-height: 1.;
  letter-spacing: 1px;
  box-shadow: 15px 0 0 0 #ecb2bd, -5px 0 0 0 #ecb2bd;
	background: #ecb2bd;
	text-align:justify;
	position: relative;
  /*font-family: "PrattRegular",Georgia,"Times New Roman ",Times,serif;*/
}

.fonte:first-letter {
	font-size:150%;
}

blockquote {
  margin-top: 5px !important
}

blockquote:hover {
  border-left: 2px solid #ecb2bd !important;
}

.special-heading {
  margin-bottom: 0 !important;
}

.shop-grid-item .shop-item-thumb:hover img {
  opacity: 1;
}

.color-estruturas{
  background-color:#ecb2bd;
  /*box-shadow: 15px 0 0 0 #ecb2bd, -5px 0 0 0 #ecb2bd;*/
}

.color-vidas{
  background-color:#e89c43;
  /*box-shadow: 15px 0 0 0 #e89c43, -5px 0 0 0 #e89c43;*/
}

.color-acontecimentos {
  background-color:#df6a49;
  /*box-shadow: 15px 0 0 0 #df6a49, -5px 0 0 0 #df6a49;*/
}

.container-legenda {
  opacity: 0.7;
  margin: 0;
  background-color: black;
}

.container-legenda .fonte-legenda {
  margin: 0px 10px 0px 10px;
  font-size:0.9em;
  text-align: center;
}
